<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Lista de Episódios</title>
</head>
<body>
    <main class="container">
        {% include "nav.html" %}

        <h1>Lista de Episódios</h1>

        <table class="table">
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>Data de Lançamento</th>
                    <th>Código</th>
                    <th>Perfil</th>
                </tr>
            </thead>
            <tbody>
                {% for episode in episodes %}
                    <tr>
                        <td>{{ episode.name }}</td>
                        <td>{{ episode.air_date }}</td>
                        <td>{{ episode.episode }}</td>
                        <td><a href="{{ url_for('get_episode_profile', id=episode.id) }}">Ver Perfil</a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </main>
</body>
</html>
