{% extends "base.html" %}

{% block title %}Detalhes da Personagem{% endblock %}

        {% block content %}
        <div class="container">
            <h1>Detalhes da Personagem</h1>
            <div class="row">
                <div class="col-3 col-sm-12">
                    <h2>{{ profile.name }}</h2>
                    <img src="{{ profile.image }}" alt="{{ profile.name }} Image" class="img-fluid">

                    <div>
                        <p><strong>Nome:</strong> {{ profile.name }}</p>
                        <p><strong>Espécie:</strong> {{ profile.species }}</p>
                        <p><strong>Gênero:</strong> {{ profile.gender }}</p>
                        <p><strong>Origem:</strong> <a href="{{ url_for('get_location_profile', id=profile.origin.url.split('/')[-1]) }}">{{ profile.origin.name }}</a></p>
                        <p><strong>Localização:</strong> <a href="{{ url_for('get_location_profile', id=profile.location.url.split('/')[-1]) }}">{{ profile.location.name }}</a></p>
                    </div>

                    <h4>Episódios em que o Personagem Aparece</h4>
                    <ul>
                        {% for episode in profile.episode %}
                            <li><a href="{{ url_for('get_episode_profile', id=episode.split('/')[-1]) }}">{{ episode }}</a></li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>    
        {% endblock %}

